body {
    margin: 0;
    background-color: #fce2e2;
}
#audio {
    display: none;
}

.box-outline {
    outline: #1a1a1a 3px solid;
    height: 700px;
    width: 1260px;
    position: absolute;
    top: 50px;
    left: 90px;

}
.main-container {
    padding: 0;
    height: 700px;
    display: flex;
    flex-direction: row;
}
#mid-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    display: flex;
    flex-direction: column;
}
.header-container h1 {
    font-family: 'Pixeboy';
    font-size: 180px;
    color: #b70000;
    z-index: 2;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    animation: blinker 2s infinite;
}
@keyframes blinker {
    0%,25%,50.1%,75% {
		color: #b70000;
		text-shadow: none;
	}
	25.1%,50%,75.1%,100% {
		color: #fff;
    } 
}   
.start-container {
    width: 600px;
    justify-content: center;
    align-items: center;
}
#start-button {
    font-family: 'Pixeboy';
    font-size: 100px;
    color: #1a1a1a;
    cursor: pointer;
    margin: 0;
    position: absolute;
    bottom: 250px;
    left: 669px;
    z-index: 10;
}
#start-link {
    text-decoration: none;
}
.sprite-container {
    height: auto;
}
#me {
    height: 210px;
    z-index: 3;
    position: absolute;
    left: 350px;
    bottom: 26px;
}
#dialogue-box {
    height: 150px;
    z-index: 5;
    position: absolute;
    left: 550px;
    bottom: 60px;

}
#game-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#quit-heart {
    position: absolute;
    bottom: 70px;
    height: 60px;
    right: 105px;
    z-index: 7;
}
#quit-text {
    font-family: 'Pixeboy';
    font-size: 30px;
    position: absolute;
    right: 105px;
    bottom: 20px;
}
.app {
    width: 90%;
    max-width: 1000px;
    padding: 30px;
    margin-top: 20px;
}
.quiz {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
#question-container {
    font-family: 'Proxima';
    font-weight: 500;
    font-size: 40px;
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 40px;
}
#answer-input {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    font-family: 'Proxima';
    font-size: 30px;
    margin-bottom: 60px;
    border-radius: 35px;
    padding: 10px;
    text-decoration: none;
}
#feedback-container {
    height: 50px;
    width: 100%;
    font-family: 'Proxima';
    font-weight: 500;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#quiz-failed-msg {
    text-align: center;
}
#quiz-done-msg {
    text-align: center;
}
.done-feedback {
    font-family: 'Pixeboy';
    font-size: 120px;
    margin: 0;
    color: #c70e0e;
    margin-bottom: 70px;
}
.failed-feedback {
    font-family: 'Pixeboy';
    font-size: 120px;
    margin: 0;
    color: #c70e0e;
    margin-bottom: 70px;
}
.button {
    font-family: 'Proxima';
    font-size: 25px;
    background-color: #fff;
    outline: #1a1a1a solid 2px;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    border: none;
}
.button:hover {
    color: #fff;
    background-color: #c90f0f;
    outline: #1a1a1a solid 2px;
    border: none;
}
#home-button, #play-again-button, #try-again-button {
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    outline: #1a1a1a solid 2px;
}
#home-link {
    text-decoration: none;
    color: #1a1a1a;
    outline: #1a1a1a;
}
#home-link:hover {
    text-decoration: none;
    color: #fff;
    outline: #1a1a1a;
}
#nav-container {
    position: relative;
    top: 150px;
}
#trophy {
    position: absolute;
    z-index: 5;
    height: 210px;
    bottom: 6px;
    left: 260px
}
#me2 {
    height: 210px;
    z-index: 3;
    position: absolute;
    left: 100px;
    bottom: 25px;
    animation: jump 1s infinite;
}
@keyframes jump {
    25% {
        bottom: 35px;
    }
    75% {
        bottom: 28px;
    }
  }
