body {
    margin: 0;
    background-color: #fffdf7;
}
.main-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.header-container {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
}
#h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container h1 {
    font-family: 'Signaline';
    font-size: 75px;
    color: #1a1a1a;
    font-weight: 500;
    margin: 0;
    width: fit-content;
}
.header-container h2 {
    font-family: 'Signaline';
    font-size: 55px;
    font-weight: 500;
    color: #262626;
    margin: 0;
    margin-left: 400px;
    padding: 0;
}
.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-pic {
    width: auto;
    position: relative;
}
#heart1 {
    z-index: 3;
    position: absolute;
    bottom: 270px;
    right: 380px;
    height: 90px;
}
#heart2 {
    z-index: 3;
    position: absolute;
    height: 90px;
    left: 190px;
    bottom: 150px;
}
#heart3 {
    z-index: 3;
    position: absolute;
    height: 90px;
    left: 180px;
    bottom: 215px;
}
#star {
    z-index: 3;
    position: absolute;
    height: 90px;
    right: 65px;
    bottom: 155px;
}
#dash {
    z-index: 3;
    position: absolute;
    height: 90px;
    right: 5px;
    bottom: 270px;
}
#photobooth {
    z-index: 1;
    object-fit: cover;
    outline: #1a1a1a solid 2px;
    height: 450px;
}
.menu-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 200px;
    height: 190px; 
}
.cat {
    width: auto;
    height: 200px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: -5;
}
.menu-button {
    background-color: #fffdf7;
    color: #1a1a1a;
    border: none;
    border-radius: 35px;
    outline: #1a1a1a solid 2px;
    font-family: 'Proxima';
    font-weight: 400;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 30;
}
.menu-button:hover{
    color: #fff;
    background-color: #c81515;
    outline: #1a1a1a solid 2px;
}